.films-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

@media (min-width: 981px) and (max-width: 1300px) {
  .films-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 651px) and (max-width: 980px) {
  .films-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .films-list {
    grid-template-columns: 1fr;
  }
}
