.film {
  &__title {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 500;
  }
  &__helper {
    font-size: 26px;
    color: rgb(154, 153, 153);
    transition: all 0.4s ease-in-out;
    &:hover {
      color: orange;
      cursor: default;
    }
  }
  &__description {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__raiting-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__raiting {
    .film__helper {
      font-size: 18px;
    }
    margin-bottom: 10px;
  }
  &__raiting-score {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
  }
  &__year {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__genres {
    font-weight: 500;
  }
  &__genre {
    font-size: 18px;
    font-weight: 500;
    margin: 0 5px;
  }
}
